.movie-icon {
  font-size: 60px;
  margin-right: 10px;
}

.header-title {
  font-size: 35px;
}

#featured-movie-container {
  padding: 40px 80px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#featured-movie-detail-container {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  display: flex;
}

#movie-poster {
  border-radius: 20px;
  border: 3px solid orange;
}

#featured-movie-detail {
  padding: 20px 40px 20px 20px;
  color: #fff;
}

#movie-minor-details {
  display: flex;
  justify-content: space-between;
}

#director-genre-detail {
  display: flex;
}

#featured-movie-detail h6 {
  font-weight: bold;
}

.imdb-rating {
  margin-left: 5px;
}

.genre-badge {
  margin-right: 5px;
}

#search-input-container {
  padding: 25px 80px;
  justify-content: center;
  display: flex;
  background: #343a40;
}

#search-input-container input {
  width: 80%;
  height: 70px;
  border-radius: 35px;
  border: 3px solid orange;
  padding: 0px 35px;
  font-size: 30px;
  border: 0px;
  background: #7e8388;
  color: #fff;
}

.loading {
  min-height: 400px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-top {
  align-items: flex-start;
  padding: 20px 0px;
}

.loading-spinner {
  font-size: 60px;
  color: #fff;
}

.info-message {
  background: #000;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #c2c4c7;
}

.search-result-container {
  background: #000;
  min-height: 300px;
  color: #fff;
}

.movie-card {
  padding: 15px;
}

.movie-card img {
  width: 100%;
  border-radius: 20px;
  border: 3px solid orange;
}

.load-more {
  height: 60px;
  font-size: 30px;
  font-weight: bold;
  color: #343a40;
}
